
{% extends 'base.html' %}


{% block content %}
	<div class="container" style="padding:2em">
			<a href="{% url 'index' %}">Back</a>
					 <h2>Chapters</h2> 
			<div class="row" style="padding: 1em;padding-left: 0px;">
				{% for subject in chapters %}

				    {% for chapter in subject.subject_chapters.all %}
					  <div class="col-sm-6">
					    <div class="card color">
					      <div class="card-body">
					        <h5 class="card-title">{{ chapter.chapter_name }}</h5>
					        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					        <a href="{% url "chapter_detail" chapter.pk %}" class="btn btn-primary">Learn</a>
					      </div>
					    </div>
					  </div>
					{% endfor %}

				{% endfor %}			
			</div>
	</div>
{% endblock %}
