

{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

			<div class='index'>
				<div class="grid" style="padding:2em;height: 40%">
					<div class='head'>	<h1>Welcome to Quizbyte</h1> </div>
				</div>

			 {% if user.is_authenticated %}
			 {% else %}
				<div class='login-div'>
					<p>Sign in</p>

					<form class='form' method="POST" action="{% url "auth" %}">
						{% csrf_token %}
						<p style="color:red;">{{error}}</p>
						<div class='form-div'>
							<label class="form-label">Username</label>
							<input type="text" name="username" class="form-input"/>
							</label>
						</div>
						<div class='form-div'>
							<label class="form-label">Password</label>
							<input type="password" name="password" class="form-input"/>
							</label>
						</div>
						<button type='submit' class="btn btn-primary float-right">Sign In</button>
					</form>
					
				</div>
			</div>
			{% endif %}

			{% if user.is_authenticated %}
				<div class="container" style="padding:2em">
					{% if subjects %} <h2>Subjects</h2> {% endif %}
				<div class="row" style="padding: 1em;padding-left: 0px;">
					{% for subject in subjects %}
					  <div class="col-sm-6">
					    <div class="card color">
					      <div class="card-body">
					        <h5 class="card-title">{{subject.subject_name}}</h5>
					        <p class="card-text">Click learn button to explore more about the Subjects</p>
					        <a href="{% url "subject_detail" subject.pk %}"" class="btn btn-primary">Learn</a>
					      </div>
					    </div>
					  </div>
					{% endfor %}
					</div>

				</div>
			{% else %}
				<div class="container" style="padding:2em">
					<p style="text-align:center;">No Subjects here Sign in to get access</p>
				</div>

				{% endif %}

{% endblock %}

