
{% extends 'base.html' %}

			

			{% block title %}Q{% endblock %}




{% block content %}

<script>
	function show() {

		if (document.getElementById('ans').style.opacity  == 1) {

			document.getElementById('ans').style.opacity  = 0;
			document.getElementById('bt').innerHTML = 'Show Answer'



		}
		else {

			document.getElementById('ans').style.opacity  = 1;
			document.getElementById('bt').innerHTML = 'Hide Answer' 


		}

	}
</script>
	<div class="container-fluid" style="padding: 2em;">
		<input style="border:none;color:white" action="action"
	    onclick="window.history.go(-1); return false;"
	    type="submit"
	    value="back"
	    class='btn-sm bg-info'
	    />
		<div style="display: flex;flex-direction: column;">
		

	{% for q in question %}

		<div style="margin:1em;">
			{% if "http" in q.question_description %}
				<img src="{{q.question_description}} "/>
			{% else %}
				<p>{{q.question_description}}</p>

			{% endif %}



		</div>
		<div><a class='btn-md {{q.question_attr}}' style="padding: .3em">{% if 'btn-success' in q.question_attr %}EASY{% endif %} {% if 'btn-warning' in q.question_attr %}MEDIUM{% endif %}</a></div><br>
		<div><button id='bt' class="btn btn-outline-success btn-lg " onclick="show()">Show Answer</button></div>
		<div id='ans' style="margin-top: 1em;opacity: 0;">
			{% if "http" in q.question_answer %}
				<img src="{{q.question_answer }} "/>
			{% else %}
				<p>{{q.question_answer }}</p>

			{% endif %}

		</div>

	{% endfor %}

	</div>
</div>
{% endblock %}



